@import "shared/typography.scss";
@import "shared/main.scss";
@import "shared/header.scss";
@import "shared/footer.scss";

html,
body {
  margin: 0;
  padding: 0;
}

#comments {
  margin-top: 5em;
  padding-top: 2.5em;
  border-top: 6px double rgba(0, 0, 0, .3);

  h1 {
    font-size: 1.563em;
  }
}