<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <title>{% block title %}{{ title }}{% endblock %} | Jordan Shurmer</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137352443-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-137352443-1');
    </script>

    {% block headlast %}
        <link rel="stylesheet" href="/base.css">
    {% endblock %}

</head>

<body class="{{ tags }}">

<section id="site-header">
    {% block header %}
        <!-- A div for the "hero" section.. the large visual at the top -->
        <div id="hero">
            <a href="/">
                {% block hero %}
                    <img src="{{ heroImage or "/static/heroes/default.jpg" }}" alt="Home"/>
                {% endblock %}
                <h1>JS</h1>
            </a>
        </div>

        <!-- A nav for the site navigation -->
        <nav>
            <ul>
                <li>
                    <a href="/theology/">Theology</a>
                </li>
                <li>
                    <a href="/dev/">Software</a>
                </li>
                <li>
                    <a href="/books/">Books</a>
                </li>
                <li>
                    <a href="/me/">About</a>
                </li>
            </ul>
        </nav>
    {% endblock %}
</section>

<main id="main">
    {% block main %}
    {% endblock %}
</main>

<section id="footer">
    {% block footer %}
        <span>Made by Jordan Shurmer</span>
        <span>Made with &lt;3 • <a target="_blank" href="https://11ty.io/">eleventy</a> • and <a target="_blank"
                                                                                                 href="https://sass-lang.com/">scss</a></span>
        <span>View on <a href="https://github.com/JordanShurmer/jordan-shurmer-family">Github</a></span>

    {% endblock %}
</section>

{% block footlib %}
{% endblock %}

</body>

</html>