{% extends "page.njk" %}
{#{% import "macros/disqus.html" as disqus %}#}

{% block headlast %}
    {{ super() }}
    <link rel="stylesheet" href="/legero/legero.css">
{% endblock headlast %}

{% block main %}
    <article itemscope itemtype="https://schema.org/Article">

        {% if headline %}
            <h1 itemprop="headline name">{{ headline }}</h1>
        {% else %}
            <h1 itemprop="headline name">{{ title }}</h1>
        {% endif %}

        <div id="metadata">
            By <a href="/me" itemprop="author publisher">{{ author | default("Jordan Shurmer") }}</a>.
            {% if page.date %}
                Published
                <meta itemprop="datePublished" content="{{ page.date }}">{{ page.date | date }}
            {% endif %}

        </div>

        <p itemprop="description">
            {{ description }}
        </p>

        {{ content | toc('{"tags": ["h2","h3"]}') | safe }}

        <section itemprop="articleBody">
            {{ content | safe }}
        </section>
    </article>

    <section id="comments">

        <h1>Comments:</h1>

        <!-- The container for the comments-->
        <div id="disqus_thread"></div>

    </section>

{% endblock main %}

{% block footlib %}
    {{ super() }}

    <script src="/legero.js"></script>

{% endblock %}

