<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>Jordan Shurmer</title>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    </head>
    <body>
        <h1>Jordan's Website</h1>

        Welcome to Jordan's website!  There's not much to see here...

        <h2>Dev</h2>

        Some of my notes, thoughts, and experiments in the world of software engineering.

        <ul>
            <li>
                <a href="/dev/this">This Website</a>
            </li>
        </ul>

        <h2>Theology</h2>

        Some of my notes and musings on theological topics can be found here

        <ul>
            <li>
                <a href="/theology/baptism">Baptism</a>
            </li>
            <li>
                <a href="/theology/regeneration">Regeneration</a>
            </li>
            <li>
                <a href="/theology/god/sovereignty">God's Sovereignty</a>
            </li>
        </ul>
    </body>
</html>
