{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock title %}

{% block headlast %}
    {{ super() }}
    <link rel="stylesheet" href="{{ get_url(path='legero/legero.css') }}">
{% endblock headlast %}

{% block main %}
    <article itemscope itemtype="https://schema.org/Article">

        {% if page.extra.headline %}
            <h1 itemprop="headline name">{{ page.extra.headline }}</h1>
        {% else %}
            <h1 itemprop="headline name">{{ page.title }}</h1>
        {% endif %}

        <div id="metadata">
            By <a href="/me" itemprop="author publisher">{{ page.extra.author | default(value="Jordan Shurmer") }}</a>.
            {% if page.date %}
                Published
                <meta itemprop="datePublished" content="{{ page.date }}">{{ page.date | date(format="%b %d, %Y") }}
            {% endif %}

            <nav class="breadcrumbs">
                <ol>
                    {% for path in page.ancestors %}
                        {% set section = get_section(path=path) %}
                        <li><a href="{{ section.permalink }}">{{ section.extra.crumb }}</a></li>
                    {% endfor %}
                </ol>
            </nav>

        </div>

        <p itemprop="description">
            {{ page.description }}
        </p>

        <ol id="toc" class="toc">
            {% for h1 in page.toc %}
                <li>
                    <a href="{{ h1.permalink }}">{{ h1.title }}</a>
                    {% if h1.children %}
                        <ol>
                            {% for h2 in h1.children %}
                                <li><a href="#{{ h2.id }}">{{ h2.title }}</a></li>
                            {% endfor %}
                        </ol>
                    {% endif %}
                </li>
            {% endfor %}
        </ol>

        <section itemprop="articleBody">
            {{ page.content | safe }}
        </section>
    </article>

    <script src="{{ get_url(path='legero.js') }}"></script>
{% endblock main %}

