#footer {

    margin-top: 5em;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;

    a {
        text-decoration: none;
    }
}