@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Spectral|Stoke');
/***
  ___
 / __)           _
| |__ ___  ____ | |_   ___
|  __) _ \|  _ \|  _) /___)
| | | |_| | | | | |__|___ |
|_|  \___/|_| |_|\___|___/
https://type-scale.com/?size=16&scale=1.250&text=A%20Visual%20Type%20Scale&font=Roboto%20Condensed&bodyfont=Spectral&bodyfontweight=400&lineheight=1.45&backgroundcolor=white&fontcolor=%23333&preview=false
fonts ***/
html {
  font-size: 16px;
}

body {
  font-family: 'Spectral', serif;
  line-height: 1.45;
  color: #333;
}

p {
  margin-bottom: 1.25em;
}

h1, h2, h3, h4, h5 {
  margin: 0 0 1rem;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.15;
}

h1 {
  font-size: 3.052em;
  //margin-bottom: 0;
}

h2 {
  font-size: 2.441em;
}

h3 {
  /*font-size: 1.953em;*/
  font-size: 1.563em;
}

/*h4 {
    font-size: 1.563em;
}*/

h4, h5 {
  font-size: 1.25em;
}

small, .text_small {
  font-size: 0.75em;
}